<div class="page-header">
  <%= link_to video_clips_path, class: 'btn btn-default' do %>
    All Video_clips
  <% end %>
  <%= link_to edit_video_clip_path(@video_clip), class: 'btn btn-primary' do %>
    Edit
  <% end %>
</div>

<% if @video_clip.videorecording.attached? %>
<%#= render '#{@video_clip.to_partial_path}' %>
<%= render "/#{@video_clip.to_partial_path}" %>
<hr>

<h2>
  <%= link_to "link", url_for(@video_clip.videorecording) %>
</h2>
  <%= image_tag @video_clip.videorecording, width: 280 %>
<% end %>
